@* Copyright © 2015 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model IEnumerable<string>
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>View from Extension A</title>
  <link href="Styles.typography.css" rel="stylesheet" />
</head>
<body>
  <h1>View from Extension A (Added as Resource)</h1>
  <p class="from-resources">This line is red because of the rule in CSS-file added as resource (from Extension A).</p>
  <p>Installed extensions:</p>
  <ul>
    @foreach (var item in this.Model)
    {
      <li>@item</li>
    }
  </ul>
  <p><a href="/extension-b">Go to Extension B</a></p>
</body>
</html>