@* Copyright © 2015 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
@model WebApplication.ExtensionB.ViewModels.ExtenstionB.IndexViewModel
@{ 
  this.ViewBag.Title = "View from Extension B";
}
<h1>View from Extension B (<span class="suspended">Precompiled</span>* Added as Resource)</h1>
<p>Items from SQLite database:</p>
<div class="items">
  @foreach (var item in this.Model.Items)
  {
    @Html.Partial("_Item", item)
  }
</div>
<p class="from-resources">This line is red because of the rule in CSS-file added as resource (from Extension A).</p>
<p>So any extension can use resources from any other extension.</p>
<p>* Precompiled views support has been suspended in ASP.NET Core 1.0 RC2.</p>